includes:
	- phar://phpstan.phar/conf/config.levelmax.neon
parameters:
	bootstrapFiles:
	    -  %currentWorkingDirectory%/tests/phpstan/bootstrap.php
	scanDirectories:
	    -  %currentWorkingDirectory%/src
	    -  %currentWorkingDirectory%/tests/unit

