<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" convertErrorsToExceptions="false" convertNoticesToExceptions="false" convertWarningsToExceptions="false" backupGlobals="false" processIsolation="false" stopOnError="false" stopOnFailure="false" stopOnIncomplete="false" stopOnSkipped="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <report>
      <html outputDirectory="./phpunit_report" lowUpperBound="35" highLowerBound="70"/>
    </report>
  </coverage>
  <testsuite name="Main Test Suite">
    <directory>./tests/unit/</directory>
  </testsuite>
  <logging/>
</phpunit>
