.catBox {
    width: 500px;
    margin: 5px;
}

.menu {
    width: 100%;
    list-style: none;
    padding: 0;
}

.crossed{
    text-decoration: line-through;
}

.clear {
    clear: both;
}

li {
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    float: left;
}

.menu li a {
    text-decoration: none;
    color: #000;
}

.menu li a:hover {
    text-decoration: underline;
    color: #000;
}

li.selected {
    text-decoration: underline;
    font-weight: bold;
}

.filterLabel {
    font-weight: bold;
    margin: 4px;
    font-size: 16px;
    float: left;
}

.filterValue {
    font-size: 10px;
    height: 18px;
    float: left;
    width: 100%;
    margin: 2px 6px 2px 2px;
    display: block;
}

.filterGrid {
    max-height: 160px;
    padding: 4px;
    margin-bottom: 10px;
    /*
    overflow: scroll;
    border: 1px solid #ccc;
    */
}

.content {
    display: flex;
}

#filters {
    min-width: 250px;
    width: 250px;
}

#filters.shoe {
    min-width: 250px;
    width: 250px;
}

#results {
    padding: 11px;
    width: 100%;
}

.card {
    padding: 4px;
    margin: 10px;
    margin-top: 6px;
    min-width: 180px;
    height: 100px;
    border: 1px solid #ccc;
    float: left;
}

.card .title {
    font-weight: bold;
}

.card.shoe {
    width: 170px;
    height: 300px;
}
.card.mobile{
    width: 170px;
    height: 320px;
}
.card.mobile:hover{
   background-color: #e4e2e2f6;
}


.mobileProperty{
    padding: 10px 4px 10px 4px;
}

div.img {
    width: 150px;
    height: 150px;
}

.treePanel {
    min-width: 300px;
    margin: 10px;
    overflow: scroll;
    padding: 4px;
}


.treeMain {
    margin: 10px;
}


.boxLabel {
    margin: 10px;
    font-weight: bold;
    font-size: 14px;
}

.properties {
    padding: 6px;
}

.hideButton{
    width: 20px;
    height: 20px;
    float: right;
    background-position: center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.hideButton.vis{
    background-image: url("darr.png");
}
.hideButton.hid{
    background-image: url("rarr.png");
}

.filterBox{
    margin-bottom: 10px;
}
.filterHeader{
    background-color: #ededed7a;
    height:24px;
    border-radius: 6px;
    padding: 4px;
    cursor: pointer;
}
